aboutlibraries_version = 12.2.4
# See https://github.com/orgs/fcitx5-android/packages
main_version = 0.1.2
desugarJDKLibs_version = 2.1.5
kotlin_version = 2.2.21
android_version = 8.13.0
plugin_api_version = 0.1
build_commit_hash = unknown
